 <% provide(:title, 'Admin') %>
 <h1>Administrator panel</h1>
 
<div class='row'>
	<aside class='span4'>
		<section>
			<h4>Answer to category:</h4>
			<ul class="categories">	
				<%= render @categories %>
			</ul>
		</section>	
	</aside>
	
	<div class="span8">
    	<h3>All Posts (<%= @posts.count %>)</h3>
    	<%= will_paginate @posts %>
      	<ol class="Posts">
        	<%= render :partial => 'posts/adminpost', :collection => @posts, :as => :post %>
      	</ol>
      	<%= will_paginate @posts %>
  	</div>
  </div>
</div>


