<% provide(:title, @category.title) %>
<h1><%= @category.title %></h1>

<div class='row'>
	<aside class='span4'>
		<section>
			<h4>Categories:</h4>
			<ul class="categories">	
				<%= render @categories %>
			</ul>
		</section>
	</aside>

	<div class="span8">
		
    	<% if @category.posts.any? %>
     		<h3>Posts (<%= @category.posts.count %>)</h3>
      		<%= will_paginate @posts %>
      		<ol class="Posts">
        		<%= render @posts %>
     		</ol>
      		<%= will_paginate @posts %>
    	<% end %>
    	<% if signed_in? %>
			<section>
        		<%= render 'shared/post_form' %>
      		</section>
		<% end %>
  		</div>
	</div>
</div>